.select-block {
  position: relative;
}

.select-block + .select-block {
}

.select-block:last-child {
}

.select-block select  {
  border-radius: 8px;
  background-color: var(--color-box-footer);
  border: none;
  border: 1px solid #e6e6f0;
  width: 100%;
  height: 3rem !important;
  outline: 0;
  padding: 0 1.6rem;
  font: 300 1.4rem Poppins;
  color: var(--color-text-base);
}

/*  .select-block:focus-within::after {
  select-block quanto tiver focus no select 
  width: 80%;
  text-align: center;
  height: 0.5px;
  content: "";
  background: var(--color-primary-light);
  position: absolute;
  left: 2rem;
  right: 1.6rem;
  bottom: 1.5rem;
} */

@media (min-width: 700px) {
  .select-block + .select-block {
    margin: 0;
  }
}
