#home-page {
    height: 100vh;
    width: 100vw;
    color: var(--color-text-in-primary);
}

.content {
    width: 100vw;
    height: 70vh;
    background-color: var(--color-primary);
}

.header {
    padding: 3rem 10rem 0 10rem;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.header div:nth-child(1) {
    display: grid;
    grid-template-columns: 0.4fr 1fr;
    align-items: center;
    font-weight: 400;
}

.header div:nth-child(1) img {
    width: 40px;
    border-radius: 50%;
}

.header div:nth-child(2) img {
    background-color: var(--color-primary-dark);
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
}

#page-landing-content {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
}

#page-landing-content .logo-container img {
    width: 25vw;
}

#page-landing-content div:nth-child(2) img {
    width: 35vw;
}

#page-landing-content .logo-container h2 {
    font-weight: 300;   
    width: 300px; 
}

.footer {
    height: 30vh;
    background-color: #E5E5E5;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding: 0 15rem;
}


.footer .text-container p {
    color: var(--color-text-base);
    font-weight: normal;
}

.footer .text-container p:last-child {
    font-weight: 600;
}

.footer .total-connections {
    color: var(--color-text-complement);
    font-weight: 300;
    width: 170px;
    text-align: right;
    font-size: 1.4rem;
}

.footer .total-connections img{
    margin-left: 10px;
}

.footer .buttons-container {
    font-family: Archivo;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    text-decoration: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.footer .buttons-container .study {
    width: 16vw;
    height: 10vh;
    border-radius: 8px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}

.footer .buttons-container .study:nth-child(1) {
    background-color: var(--color-primary);
}
.footer .buttons-container .study:nth-child(2) {
    background-color: var(--color-secundary);
}

