.proffy {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary);
    color: var(--color-text-in-primary);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
}

.proffy img {
    width: 70%;
}

.proffy p {
    font-size: 2.6rem;
    width: 70%;
    font-weight: 400;
}